
.hero {
    height: 100vh;
    background: radial-gradient(circle at center, #1a1a2e 0%, #0f0f1a 40%, #000000 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.titulo-misterioso {
    font-size: 3.5em;
    letter-spacing: 4px;
    color: #e0d7ff;
    text-transform: uppercase;
    text-shadow: 
        0 0 10px rgba(140, 0, 255, 0.7),
        0 0 25px rgba(90, 0, 200, 0.6);
    margin: 0;
}

.titulo-misterioso::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    margin: 20px auto 0 auto;
    background: linear-gradient(to right, transparent, #a855f7, transparent);
}
.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width:1200px;
    margin: 40px auto;
}

.galeria img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.galeria img {
    box-shadow: 0 0 15px rgba(140, 0, 255, 0.4);
    transition: 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.7);
}